flows/flows.json
[{"id":"e7d62d23cc8be829","type":"tab","label":"Fluxo 1","disabled":false,"info":"","env":[]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"Bell_elevadores","broker":"2ed8f4d00dff45148f0adae9e2a75cfa.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"Bell_elevadores","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"dashboard_tab","type":"ui_tab","name":"Bell Elevadores Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fbd359a3735286a6","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}},{"id":"00c7969fe6a51bf6","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"800395de73d9d569","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"83e995c3d830c665","type":"mqtt in","z":"e7d62d23cc8be829","name":"Bell_elevadores","topic":"lift/bell_elevador_001/telemetry","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":80,"wires":[["b925c1307aafd34a","3368511745987b35","2796932c38b9514f","fd70e3f396819dee"]]},{"id":"b925c1307aafd34a","type":"change","z":"e7d62d23cc8be829","name":"definir msg.payload.t","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":100,"wires":[["3534936871e0d66e"]]},{"id":"3368511745987b35","type":"change","z":"e7d62d23cc8be829","name":"definir msg.payload.h","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":140,"wires":[["d84ac9119ffcfbb6"]]},{"id":"2796932c38b9514f","type":"change","z":"e7d62d23cc8be829","name":"definir msg.payload.to","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.to","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":180,"wires":[["9027d1d5bc51c69b"]]},{"id":"fd70e3f396819dee","type":"change","z":"e7d62d23cc8be829","name":"definir msg.payload.v","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.v","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["ee04cf1ffcd48d8a"]]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"e7d62d23cc8be829","name":"","group":"00c7969fe6a51bf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":100,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"e7d62d23cc8be829","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":140,"wires":[]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"e7d62d23cc8be829","name":"","group":"00c7969fe6a51bf6","order":3,"width":0,"height":0,"gtype":"gage","title":"XYZ","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":220,"wires":[]},{"id":"selfping-inject","type":"inject","z":"e7d62d23cc8be829","name":"Ping a cada 3 min","props":[],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":340,"wires":[["selfping-http"]]},{"id":"selfping-http","type":"http request","z":"e7d62d23cc8be829","name":"Ping Render","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://bell-evadores-render.onrender.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":340,"wires":[[]]},{"id":"9027d1d5bc51c69b","type":"ui_gauge","z":"e7d62d23cc8be829","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Óleo","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":630,"y":180,"wires":[]}]
