flows/flows_cred.json
[{"id":"83e995c3d830c665","type":"mqtt in","z":"52be754208f07d2c","name":"662267b4d75448ff9ab5c5bcb043bd1f","topic":"google-sheets-data","qos":"0","datatype":"auto-detect","broker":"9d0c82ad1f277388","nl":false,"rap":true,"rh":0,"inputs":0,"x":230,"y":20,"wires":[["b925c1307aafd34a","3368511745987b35","2796932c38b9514f","fd70e3f396819dee"]]},{"id":"b925c1307aafd34a","type":"change","z":"52be754208f07d2c","name":"definir msg.payload.Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Temperatura","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":100,"wires":[["3534936871e0d66e"]]},{"id":"3368511745987b35","type":"change","z":"52be754208f07d2c","name":"definir msg.payload.Umid","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Umidade","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":140,"wires":[["d84ac9119ffcfbb6"]]},{"id":"2796932c38b9514f","type":"change","z":"52be754208f07d2c","name":"definir msg.payload.CO2","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.CO2","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":180,"wires":[["co2_text"]]},{"id":"fd70e3f396819dee","type":"change","z":"52be754208f07d2c","name":"definir msg.payload.Solo","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.Solo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":220,"wires":[["ee04cf1ffcd48d8a"]]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"52be754208f07d2c","name":"","group":"00c7969fe6a51bf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":990,"y":100,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"52be754208f07d2c","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":990,"y":140,"wires":[]},{"id":"co2_text","type":"ui_text","z":"52be754208f07d2c","group":"00c7969fe6a51bf6","order":4,"width":0,"height":0,"name":"CO2","label":"CO₂","format":"{{msg.payload}} ppm","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":990,"y":180,"wires":[]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"52be754208f07d2c","name":"","group":"00c7969fe6a51bf6","order":3,"width":0,"height":0,"gtype":"gage","title":"Umid. Solo","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":1010,"y":220,"wires":[]},{"id":"selfping-inject","type":"inject","z":"52be754208f07d2c","name":"Ping a cada 3 min","props":[],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":290,"y":340,"wires":[["selfping-http"]]},{"id":"selfping-http","type":"http request","z":"52be754208f07d2c","name":"Ping Render","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://dashboard.render.com","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":340,"wires":[[]]},{"id":"9d0c82ad1f277388","type":"mqtt-broker","name":"662267b4d75448ff9ab5c5bcb043bd1f","broker":"662267b4d75448ff9ab5c5bcb043bd1f.s1.eu.hivemq.cloud","port":"8883","tls":"","clientid":"662267b4d75448ff9ab5c5bcb043bd1f","autoConnect":true,"usetls":true,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"00c7969fe6a51bf6","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"dashboard_tab","type":"ui_tab","name":"VisuoAgro Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"2a96e92d09c9e03a","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]
