flows/flows_cred.json
[{"id":"ed32baca2955641f","type":"ui_gauge","z":"c7d5a36f256ae460","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp. óleo","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":770,"y":160,"wires":[]},{"id":"b925c1307aafd34a","type":"change","z":"c7d5a36f256ae460","name":"definir msg.payload.t","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.t","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":80,"wires":[["3534936871e0d66e"]]},{"id":"3368511745987b35","type":"change","z":"c7d5a36f256ae460","name":"definir msg.payload.h","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.h","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":120,"wires":[["d84ac9119ffcfbb6"]]},{"id":"2796932c38b9514f","type":"change","z":"c7d5a36f256ae460","name":"definir msg.payload.to","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.to","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":160,"wires":[["ed32baca2955641f"]]},{"id":"fd70e3f396819dee","type":"change","z":"c7d5a36f256ae460","name":"definir msg.payload.v","rules":[{"t":"set","p":"payload","pt":"msg","to":"msg.payload.v","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":200,"wires":[["ee04cf1ffcd48d8a"]]},{"id":"3534936871e0d66e","type":"ui_gauge","z":"c7d5a36f256ae460","name":"","group":"00c7969fe6a51bf6","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"ºC","format":"{{payload}}","min":"-5","max":"55","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":750,"y":80,"wires":[]},{"id":"d84ac9119ffcfbb6","type":"ui_gauge","z":"c7d5a36f256ae460","name":"","group":"00c7969fe6a51bf6","order":2,"width":0,"height":0,"gtype":"gage","title":"Umid","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":750,"y":120,"wires":[]},{"id":"ee04cf1ffcd48d8a","type":"ui_gauge","z":"c7d5a36f256ae460","name":"","group":"00c7969fe6a51bf6","order":3,"width":0,"height":0,"gtype":"gage","title":"XYZ","label":"%","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":750,"y":200,"wires":[]},{"id":"00c7969fe6a51bf6","type":"ui_group","name":"Sensores","tab":"dashboard_tab","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"dashboard_tab","type":"ui_tab","name":"Bell Elevadores Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"d4d55a6fd714b5d0","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]
